
html,
body,
.view {
  height: 93vh;
}

/* Full Page Carousel itself*/
.carousel, .carousel-caption
{
    height: 50vh;
    margin-top: 0px;
}

.carousel .carousel-inner {
  height: 93vh;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 93vh;
}

.video-fluid {
    max-width: unset;
}